<h1>Home</h1>
<% current_time = Time.now %>
<p>Welcome Home</p>
<p>The current time is <%= current_time %></p>

<!-- <a href="/contact">Contact us</a> -->
<%= link_to 'Contact Us', contact_path %>
<%= link_to 'About us', about_path %>
<!-- link_to "What it should say", Where it should go -->
<!-- contact_path = "/contact" -->
